<div class="sidebar">
    <!-- Sidebar content goes here -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Product Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">User</a>
      </li>
      <!-- Add more sidebar items as needed -->
    </ul>


</div>

<app-task-list></app-task-list>
