<div class="sidebar">
    <!-- Sidebar content goes here -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Product Category</a>
      </li>
      <!-- Add more sidebar items as needed -->
    </ul>


</div>

<!-- <app-task-list></app-task-list> -->
<!-- <app-product></app-product> -->
