<div class="content mx-3">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span><strong>Carts</strong></span>
          <div>
            <input #getCart type="text" class="form-control" (input)="searchCart(getCart)" placeholder="Search Card">
          </div>
          <button class="btn btn-sm btn-success ml-auto" (click)="openCartModal()">Add To Cart</button>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">User ID</th>
                <th scope="col">Date</th>
                <th scope="col">Product ID</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of carts; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cart.userId }}</td>
                <td>{{ cart.date }}</td>
                <td>{{ cart.products.productId }}</td>
                <td>{{ cart.products.quantity }}</td>
                <td>
                  <a class="btn btn-sm btn-success me-2" routerLink="`${/carts/edit}`, cart.id">Edit</a>
                  <a class="btn btn-sm btn-danger me-2" (click)="deleteCart(cart)">Delete</a>
                </td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-cart-form ></app-cart-form>