<div class="content mx-3">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span><strong>Carts</strong></span>
          <div>
            <!-- <input #getCart type="text" class="form-control" (input)="searchCart(getCart)" placeholder="Search Card"> -->
          </div>
          <button class="btn btn-sm btn-success ml-auto" (click)="openCartModal()">Add To Cart</button>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">User ID</th>
                <th scope="col">Date</th>
                <th scope="col">Product ID</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of carts; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cart.userId }}</td>
                <td>{{ cart.date }}</td>
                <td>{{ cart.products.productId }}</td>
                <td>{{ cart.products.quantity }}</td>
                <td>
                  <a class="btn btn-sm btn-success me-2" (click)="openEditCartModal(cart)">Edit</a>
                  <a class="btn btn-sm btn-danger me-2" (click)="deleteCart(cart)">Delete</a>
                </td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-cart-form></app-cart-form> -->


<!-- Add Cart Modal -->
<div class="modal" id="addCartModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCartModalLabel"><strong>Add To Cart</strong></h5>
        <button type="button" class="btn-close" (click)="closeCartModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValues">
          <div class="row">
            <div class="col-sm-6">
              <label for="user" class="form-label"><b>User</b></label>
              <input type="text" formControlName="userId" id="user" class="form-control" placeholder="Enter User">
            </div>
            <div class="col-sm-6">
              <label for="date" class="form-label"><b>Date</b></label>
              <input type="text" formControlName="date" id="date" class="form-control" placeholder="Enter Date">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <label for="product" class="form-label"><b>Product</b></label>
              <input type="text" formControlName="productId" id="product" class="form-control" placeholder="Enter Product">
            </div>
            <div class="col-sm-6">
              <label for="quantity" class="form-label"><b>Quantity</b></label>
              <input type="text" formControlName="quantity" id="quantity" class="form-control" placeholder="Enter Quantity">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCartModal()" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addToCart()">Add</button>
      </div>
    </div>
  </div>
</div>
  

<!-- Edit Cart Modal -->
<div class="modal" id="editCartModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCartModalLabel"><strong>Cart Details</strong></h5>
        <button type="button" class="btn-close" (click)="closeEditCartModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValues">
          <div class="row">
            <div class="col-sm-6">
              <label for="user" class="form-label"><b>User</b></label>
              <input type="text" formControlName="userId" id="user" class="form-control" placeholder="Enter User">
            </div>
            <div class="col-sm-6">
              <label for="date" class="form-label"><b>Date</b></label>
              <input type="text" formControlName="date" id="date" class="form-control" placeholder="Enter Date">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <label for="product" class="form-label"><b>Product</b></label>
              <input type="text" formControlName="productId" id="product" class="form-control" placeholder="Enter Product">
            </div>
            <div class="col-sm-6">
              <label for="quantity" class="form-label"><b>Quantity</b></label>
              <input type="text" formControlName="quantity" id="quantity" class="form-control" placeholder="Enter Quantity">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditCartModal()" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateCart()">Update</button>
      </div>
    </div>
  </div>
</div>
  
